 h3 {
  text-align:center;
  margin: 0 auto;
}

.list {
 display: flex;
 justify-content: center;
}

.icon {
 list-style-type: none;
 display: inline-block;
 margin-top: 15px;
 padding-left: 0;
}
.icon li {
  margin-bottom: 8px;
  margin-left: 13%;

}
.icon li a {
  margin-left: 2%;
  font-size: 16px !important;
  font-weight: 400;
}
.svg-icon {
  width: 30%;
  position: relative;
  top: 15px;
}

.op,#op {
  margin-bottom: 40px;
}
.ic,#ic {
  padding-top: 10px;
  margin-bottom: 30px;
}
a {
  text-decoration: none;
}

.home-wrap {
  margin-top: 4%;
  display: flex;
  justify-content: space-around;
}
.home-wrap .option {
  width:30%;
  text-align: center;
}
.home-wrap .option p {
  margin-top: 30px;
}
.home-wrap .option p a {
  font-size: 18px;
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.1s ease;
}

.home-wrap .option p a:hover {
   letter-spacing: 1px;
   text-transform: uppercase;
}
