
.login-form {
  margin-top:8%;
}
.login-form form{
  text-align: center;
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

input[type=text], input[type=password] {
  padding: 0px;
  height: 50px;
  padding-left: 10px;
  margin-right: 12px;
}
div.sub{
    padding:5px;
    display:block;
}
